Source: ros-hydro-abb-driver
Section: misc
Priority: extra
Maintainer: Shaun Edwards <sedwards@swri.org>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-industrial-robot-client, ros-hydro-simple-message
Homepage: http://ros.org/wiki/abb_driver
Standards-Version: 3.9.2

Package: ros-hydro-abb-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-industrial-robot-client
Description: ROS-Industrial nodes for interfacing with ABB robot controllers. This package is part of the ROS-Industrial program and contains nodes for interfacing with ABB industrial robot controllers.
