Source: ros-hydro-abb-irb2400-moveit-plugins
Section: misc
Priority: extra
Maintainer: Shaun Edwards (Southwest Research Institute) <sedewards@swri.org>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-moveit-core, ros-hydro-pluginlib, ros-hydro-roscpp, ros-hydro-tf-conversions
Homepage: http://ros.org/wiki/abb_irb2400_moveit_plugins
Standards-Version: 3.9.2

Package: ros-hydro-abb-irb2400-moveit-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-moveit-core, ros-hydro-pluginlib, ros-hydro-roscpp, ros-hydro-tf-conversions
Description: MoveIt plugins for the ABB 2400 (and variants). This package contains plugins for use with MoveIt and ABB 2400 manipulators. Plugins included support the 2400. See the ABB 2400 support package for information on used joint angle and velocity limits. Before using any of the plugins included in this package, be sure to check they are correct for the particular robot model and configuration you intend to use them with.
